assets/img/
assets/plugins/codemirror/
assets/plugins/datatables/
assets/plugins/datatables-autofill/
assets/plugins/datatables-bs4/
assets/plugins/datatables-buttons/
assets/plugins/datatables-colreorder/
assets/plugins/datatables-fixedcolumns/
assets/plugins/datatables-fixedheader/
assets/plugins/datatables-keytable/
assets/plugins/datatables-responsive/
assets/plugins/datatables-rowgroup/
assets/plugins/datatables-rowreorder/
assets/plugins/datatables-scroller/
assets/plugins/datatables-searchbuilder/
assets/plugins/datatables-searchpanes/
assets/plugins/datatables-select/
assets/plugins/datarangepicker/
assets/plugins/dropzone/
assets/plugins/ekko-lightbox/
assets/plugins/fastclick/
assets/plugins/filterizr/
assets/plugins/fullcalendar/
assets/plugins/inputmask/
assets/plugins/ion-rangesilder/
assets/plugins/moment/
assets/plugins/overlayScrollbars/
assets/plugins/pace-progress/
assets/plugins/pdfmake/
assets/plugins/popper/
assets/plugins/raphael/
assets/plugins/select2/
assets/plugins/select2-bootstrap4-theme/
assets/plugins/sparklines/
assets/plugins/summernote/
assets/plugins/toastr/
assets/plugins/uplot/
# .gitignore/